@*@model List<Web_Tic_tac_toe.Models.EF.Room>*@


    @Html.Partial("_LoginPartial")
    


<div>
    
   
    @*<div class="photo">
        <img src="..\Content\Images\ttt1.jpg" />
    </div>*@

    <div>
        <h4>Доступные комнаты:</h4>
    </div>

    <div id="myDiv"></div>

    @*<div>
        @{
            foreach (var item in Model)
            {
                if (item.User1 != null)
                {
                    <ul>
                        <li class="my-margin">
                            <a href="#">@item.User1.UserEmail</a>
                        </li>
                    </ul>
                }
            }
        }
    </div>*@

    <hr />

    <div>
        @Html.ActionLink("Создать комнату", "AddRoom", "Home", null, new { @class = "btn btn-info" })
    </div>

    <hr />

    <div>
        @Html.ActionLink("Войти в чат", "Chat", "Home", null, new { @class = "btn btn-success" })
    </div>

    <div id="chat">
        @{
            if (Session["isLogIn"] != null)
            {
                @Html.Partial("Chat")
            }
        }
    </div>

</div>







<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.1.2.min.js"></script>
<!--<script src="signalr/hubs"></script>-->


<script>
    //alert("!");
    $(function () {
        //alert("!");

       
        var connection = $.hubConnection("http://localhost:55639/");
        var hub = connection.createHubProxy("myHub");
       // var hub = $.connection.myHub;

        $("button#add").click(function () {
            var html = "<button class='alert'>Alert!</button>";
            $("button.alert:last").parent().append(html);
        });
 
        hub.client.myHub = function (str) {
            $('#myDiv').append('<p>' + str + '<p>');
            alert(str);
        }

        $.connection.hub.start().done(function () {
            $('#sendMessage').click(function () {
                hub.server.myHub('Hello');
            });
        });

        $('#sendMessage').click(function () {
           
            alert("click!");
       
        });

    });

</script>



